<div class="content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
  <h3>About Us</h3>
  <p>
    Founded in 2000, School-To-Career Progressions is a 501(c)(3) not-for-profit organization that began as a derivative of Cascade Engineering's highly successful Welfare-To-Career Program in Grand Rapids, MI.
  </p>

  <h3>Mission</h3>
  <p>Progressions' mission is to prepare students to be successful at school, home, and the community. </p>
</div>
