<div class="mdl-cell mdl-cell--8-col">
  <h1>
    Character Coach
  </h1>

  <p>
    <%= link_to "Get Started", challenges_activity_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %></h1>
  </p>


  <ul>
    <li> <%= link_to "About", about_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Keys to Success", keys_to_success_path %></li>
  </ul>
</div>
