<h1><%= link_to "Get Started", challenges_activity_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %></h1>

<div class="js-emojione" style="width: 100px; height: 100px;">
  :smile:
</div>
