<style>
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .demo-list-control {
    width: 300px;
  }

  .demo-list-radio {
    display: inline;
  }
</style>

<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="images/example-work01.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">I failed a test</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Everything's made up and the points don't matter
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Start</a>
    </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="images/example-work01.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">I got in a fight</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Rocky would have been proud
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Start</a>
    </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="images/example-work01.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">I'm failing a class</h2>
    </div>
    <div class="mdl-card__supporting-text">
      That's ok, C's still get degrees
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Start</a>
    </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="images/example-work01.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">I'm arguing with people I care about</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Happens
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Start</a>
    </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="images/example-work01.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">I got suspended</h2>
    </div>
    <div class="mdl-card__supporting-text">
      No school! W00t!
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Start</a>
    </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="images/example-work01.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">I'm in trouble</h2>
    </div>
    <div class="mdl-card__supporting-text">
      T.R.O.U.B.L.E.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Start</a>
    </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="images/example-work01.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">I have a bad attitude</h2>
    </div>
    <div class="mdl-card__supporting-text">
      So you had a bad day...
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Start</a>
    </div>
  </div>

</div>

<!--<div class="demo-card-wide mdl-card mdl-shadow&#45;&#45;2dp">-->
  <!--<div class="mdl-card__title">-->
    <!--<h2 class="mdl-card__title-text">Welcome</h2>-->
  <!--</div>-->
  <!--<div class="mdl-card__supporting-text">-->
    <!--Select the challenge below that best describes what you would like help with:-->
  <!--</div>-->
  <!--<div class="mdl-card__supporting-text">-->
    <!--<ul class="demo-list-control mdl-list">-->
      <!--<li class="mdl-list__item">-->
        <!--<span class="mdl-list__item-primary-content">-->
          <!--<label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-1">-->
            <!--<input type="radio" id="list-option-1" class="mdl-radio__button" name="options" value="1" />-->
            <!--I failed a test-->
          <!--</label>-->
        <!--</span>-->
      <!--</li>-->
      <!--<li class="mdl-list__item">-->
        <!--<span class="mdl-list__item-primary-content">-->
          <!--<label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-2">-->
            <!--<input type="radio" id="list-option-2" class="mdl-radio__button" name="options" value="2" />-->
            <!--I got in a fight-->
          <!--</label>-->
        <!--</span>-->
      <!--</li>-->
      <!--<li class="mdl-list__item">-->
        <!--<span class="mdl-list__item-primary-content">-->
          <!--<label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-3">-->
            <!--<input type="radio" id="list-option-3" class="mdl-radio__button" name="options" value="3" />-->
            <!--I'm failing a class-->
          <!--</label>-->
        <!--</span>-->
      <!--</li>-->
      <!--<li class="mdl-list__item">-->
        <!--<span class="mdl-list__item-primary-content">-->
          <!--<label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-4">-->
            <!--<input type="radio" id="list-option-4" class="mdl-radio__button" name="options" value="4" />-->
            <!--I'm arguing with people I care about-->
          <!--</label>-->
        <!--</span>-->
      <!--</li>-->
      <!--<li class="mdl-list__item">-->
        <!--<span class="mdl-list__item-primary-content">-->
          <!--<label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-5">-->
            <!--<input type="radio" id="list-option-5" class="mdl-radio__button" name="options" value="5" />-->
            <!--I got suspended-->
          <!--</label>-->
        <!--</span>-->
      <!--</li>-->
      <!--<li class="mdl-list__item">-->
        <!--<span class="mdl-list__item-primary-content">-->
          <!--<label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-1">-->
            <!--<input type="radio" id="list-option-6" class="mdl-radio__button" name="options" value="6" />-->
            <!--I'm in trouble-->
          <!--</label>-->
        <!--</span>-->
      <!--</li>-->
      <!--<li class="mdl-list__item">-->
        <!--<span class="mdl-list__item-primary-content">-->
          <!--<label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-7">-->
            <!--<input type="radio" id="list-option-7" class="mdl-radio__button" name="options" value="7" />-->
            <!--I have a bad attitude-->
          <!--</label>-->
        <!--</span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
    <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">-->
      <!--Next-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->