<div class="content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
  <h3>Keys to a Strong Character</h3>

  <h4>Healthy Emotions</h4>
  <p> Control your feelings in a positive way. </p>

  <h4>Positive Mindset</h4>
  <p>Think about things in a positive way</p>

  <h4>Successful Behaviors</h4>
  <p>Have good actions and conduct.</p>
</div>
