<h3>Instead of thinking that <%= thought %>, I will choose to believe that</h3>

<ul class="positive_thinking">
  <% category.positive_thoughts_titles.each_with_index do |positive_thought, index| %>
    <li>
      <div class="js-emojione"><%= category.positive_thoughts_emojis[index] %></div>
      <%= link_to positive_thought, positive_emotions_path(positive_thought: index), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" %>
    </li>
  <% end %>
</ul>
