<h3>I have the ability to <%= positive_behavior %>.</h3>
<h3>I will choose to believe that <%= positive_thought %>.</h3>
<h3>I see that feeling <%= feeling %> is normal, but I can change with positive action steps.</h3>

<%= link_to "Next", complete_path %>
