#challenges {
  a {
    width: 100%;

    li {
      padding: 0;
    }
  }
}

.centered-info {
  text-align: center;

  .js-emojione {
    margin: auto;
    width: 75px;
  }
}

#help {
  text-align: center;
}

#summary {
  text-align: center;
  a {
    width: 100%;
  }
}

#summary_user_input {
  color: rgb(100,100,100) !important;
}
