@import 'about';
@import 'activities';
@import "animate";

.js-emojione .emojione {
  max-width:100%;
  max-height:100%;
  width: 100%;
  height: auto;
}

.mobile-app #app-header {
  display: none;
}

// Override Material variables BEFORE importing the stylesheet
// Note: colors must be defined with RGB values, not hex
$color-primary: "97,	125,	136";
$color-accent: "231, 112, 126";
$text-color-primary: #2c2c2c;
//$color-primary-dark: $palette-blue-grey-700;
//$color-accent: $palette-orange-A200;


@import "material";

img {
  max-width: 100%;
}

a.animated-link {
  color: white;
  background-color: #CEC5C5;
  text-decoration: none;
  padding: 10px;
  width: 100%;

  &.selected {
    background-color: #E7707e;
  }

}


h4 {
  font-weight: 700;

}


.big-margin {
  margin-top: 40px;

}
