<div id="not-alone" class="mdl-cell mdl-cell--8-col centered-info">

  <h4>Awesome! You did it!</h4>
  <div class="js-emojione">
    :medal:
  </div>
  <div>Now do what you just planned to do, and keep on trying. Don't give up and in time you will succeed.</div>

  <%= next_button "Finish", root_path %>

</div>
