<h3>I'm concerned I might</h3>

<ul class="concerns">
  <% category.concerns.each do |concern| %>
    <li>
      <div class="js-emojione">:<%= concern.icon %>:</div>
      <%= link_to concern.text, thanks_activity_path(concern: concern.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" %>
    </li>
  <% end %>
</ul>
