<div id="challenges" class="content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
  <h4>Because of the thought I'm thinking, I am feeling:</h4>
  <ul class="feelings mdl-list">
    <% category.feelings.each do |feeling| %>
        <%= render partial: 'emoji_list_item', locals: {entry: feeling, type: 'feeling', link_url: concerns_activity_path(feeling: feeling.id)} %>
    <% end %>
  </ul>
</div>
