<h3>Because I'm thinking that <%= thought.text %>, I'm feeling</h3>
<ul class="feelings">
  <% category.feelings.each do |feeling| %>
    <li>
      <div class="js-emojione">:<%= feeling.icon %>:</div>
      <%= link_to feeling.text, concerns_activity_path(feeling: feeling.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" %>
    </li>
  <% end %>
</ul>
