<div class="mdl-grid portfolio-max-width">
  <% activities.each do |activity| %>
    <% activity.challenges.each do |challenge| %>
      <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <%= image_tag "http://placehold.it/250x190", class: "article-image", border: 0, alt: "#{activity.title}: #{challenge}" %>
        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"><%= challenge %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          TODO: Challenge description
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to "Start", activities_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
