<div id="not-alone" class="mdl-cell mdl-cell--8-col centered-info">
    <h4>Got it.</h4>
    <p>
      Let us help you with that
    </p>
    <div class="js-emojione">
      :smiley:
    </div>
    <%= link_to "Find out how", positive_thoughts_activity_path,
      class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent",
      :id => "activitiesSubmit" %>
  </div>
</div>

