<div id="not-alone" class="mdl-cell mdl-cell--8-col centered-info">
    <h4>You're not alone</h4>
    <p>
      We can help with that
    </p>
    <div class="js-emojione">
      :smiley:
    </div>
    <%= link_to "Let's get started", thoughts_activity_path,
              class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent",
              :id => "activitiesSubmit" %>
  </div>
</div>
