<div id="not-alone" class="mdl-cell mdl-cell--8-col">
  <div class="mdl-card__supporting-text">
    <h4>You're not alone</h4>
      <p>
        We can help with that
      </p>
      <div class="js-emojione">
        :smiley:
      </div>
      <%= link_to "Find out how", thoughts_activity_path,
                class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent",
                :id => "activitiesSubmit" %>
    </div>
  </div>
</div>
