<h3>Instead of planning to <%= concern.text %>, I have the ability to</h3>

<ul class="positive_behaviors">
  <% category.positive_behaviors.each do |positive_behavior| %>
    <li>
      <div class="js-emojione">:<%= positive_behavior.icon %>:</div>
      <%= link_to positive_behavior.text, success_plan_activity_path(positive_behavior: positive_behavior.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" %>
    </li>
  <% end %>
</ul>
