<div class="content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
  <h3>Instead of feeling bad about feeling <%= feeling.text %>, I see that feeling <%= feeling.text %> is normal, and I can change the way I feel by taking positive actions.</h3>

  <%= link_to "Next", positive_behaviors_activity_path %>
</div>
