<div id="summary" class="content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
  <h5>Instead of feeling bad about feeling</h5>
  <div id="summary_user_input" class="challenge"><%= feeling.text %></div>

  <h5>I see that feeling</h5>
  <div id="summary_user_input" class="challenge"><%= feeling.text %></div>

  <h5>is normal, and I can change the way I feel by taking positive actions.</h5>

  <%= link_to "Next", positive_behaviors_activity_path %>
</div>
