<h3>Instead of thinking that <%= thought.text %>, I will choose to believe that</h3>

<ul class="positive_thinking">
  <% category.positive_thoughts.each do |positive_thought| %>
    <li>
      <div class="js-emojione">:<%= positive_thought.icon %>:</div>
      <%= link_to positive_thought.text, positive_emotions_activity_path(positive_thought: positive_thought.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" %>
    </li>
  <% end %>
</ul>
