<div id="not-alone" class="mdl-cell mdl-cell--8-col centered-info">
  <h4>Success Plan</h4>

  <div class="js-emojione">
    :muscle:
  </div>

  <p>I have the ability to <%= positive_behavior.text %>.</p>
  <p>I will choose to believe that <%= positive_thought.text %>.</p>
  <p>I see that feeling <%= feeling.text %> is normal, but I can change with positive action steps.</p>

  <%= next_button "Next", complete_activity_path %>
</div>
