<div id="thanks" class="mdl-cell mdl-cell--8-col centered-info">
  <h4>Okay</h4>

  <p>
    Thanks for letting us know what is going on.
  </p>

  <div class="js-emojione">
    :slight_frown:
  </div>

  <%= link_to "Next", summary_activity_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" %>
</div>
