<div id="thanks" class="mdl-cell mdl-cell--8-col centered-info">
  <h4>Okay</h4>

  <p>
    Thanks for letting us know what is going on.
  </p>

  <div class="js-emojione">
    :slight_frown:
  </div>

  <%= next_button "Next", summary_activity_path %>
</div>
