<div id="challenges" class="content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
  <h4>I'm thinking that</h4>
  <ul class="thoughts mdl-list">
    <% category.thoughts.each do |thought| %>
      <%= render partial: 'emoji_list_item', locals: {entry: thought, type: 'thought', link_url: feelings_activity_path(thought: thought.id)} %>
    <% end %>
  </ul>
</div>
